{% extends 'blog/base.html' %}

{% block admin-panel %}
    <div class="admin-panel align-item-center">

        <a href="/admin" class="btn btn-info">Admin</a>
        <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Create
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{% url 'post_create_url' %}">Post</a>
        <a class="dropdown-item" href="{% url 'tag_create_url' %}">Tag</a>
        
    </div>
    </div>
        {%if admin_object%}
            <a href="{{ admin_object.get_update_url }}" class="btn btn-light">Edit</a>
            <a href="{{ admin_object.get_delete_url }}" class="btn btn-danger">Delete</a>
        {%endif%}
    
    </div>

   

{% endblock admin-panel %}


